.Checkout_container {
  background-color: rgb(239, 239, 239);
  margin-bottom: 95px;
  padding: 50px;
}
.Checkout_container h2 {
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: inherit;
}

/* .checkout_wrapper {
    background-color: #ffffff;
    margin-top: 40px;
    padding: 40px;
  
    width: 100%;
  }
   */
.uppar_wrapper {
  display: flex;
  justify-content: space-between;
}

.uppar_wrapper_left {
  padding: 8px;
  background-color: rgb(234, 234, 234);
  border-radius: 15px;
  display: flex;
  gap: 10px;
}
.trackorder {
  background-color: rgb(235, 178, 109);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  border-radius: 15px;
  color: white;
}

.allOrderProduct {
  display: flex;
  flex-direction: column;
}

.singleOrderProduct {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
  padding: 20px 50px;
}

.product_desc {
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.productdechLeft {
  flex: 3;
}

.productdechRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.productdechRight :first-child {
  color: rgb(201, 201, 201);
}

.full_desc {
  display: flex;
  gap: 15px;
}
.full_desc img {
  width: 110px;
  height: 130px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px 4px;
}
.other_detail {
  display: flex;
  gap: 20px;
}
.other_detail h3 {
  color: gray;
  font-size: 15px;
}
.other_detail p {
  font-weight: 500;
}

.uppar_detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.uppar_detail h3 {
  color: rgb(26, 24, 24);
  font-style: unset;
}
.uppar_detail p {
  color: gray;
}

.main hr {
  width: 98%;
  color: black;
  margin: 30px;
}

.lower {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.lower button {
  background-color: red;
  color: white;
  border-radius: 15px;
  border: none;
  padding: 5px 8px;
}
.my-toast-class {
  margin-top: 100px;
  width: 770px;
}

@media (max-width: 800px) {

    .Checkout_container {
    
        margin-bottom: 70px;
      
      }
  .singleOrderProduct {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
    padding: 10px 30px;
  }

  .checkout_wrapper {
    background-color: #ffffff;
    margin-top: 40px;
    padding: 20px;

    width: 100%;
  }

  .uppar_wrapper_left {
    padding: 4px;
    background-color: rgb(243, 242, 242);
    border-radius: 15px;
    display: flex;
    font-size: 10px;
    gap: 10px;
  }

  .trackorder {
    background-color: rgb(235, 178, 109);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    border-radius: 15px;
    color: white;
    font-size: 10px;
  }

  .full_desc {
    display: flex;
    gap: 15px;
  }
  .full_desc img {
    width: 90px;
    height: 120px;
  }

  .uppar_detail {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .uppar_detail h3 {
    color: rgb(26, 24, 24);
    font-style: unset;
    font-size: 16px;
  }

  .uppar_detail p {
    font-size: 12px;
  }

  .other_detail h3 {
    font-size: 13px;
  }
  .other_detail p {
    font-size: 13px;
  }

  .productdechRight {
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .Checkout_container {
    padding: 20px;
    margin-bottom: 40px;
  }

  .allOrderProduct p{
    font-size: 10px;
  }

  .Checkout_container h2 {
    font-size: 20px;
    margin-top: 20px;
  }

  .singleOrderProduct {
    margin-top: 20px;
    padding: 10px 10px;
  }

  .uppar_wrapper .uppar_wrapper_left {
    padding: 2px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    display: flex;
    font-size: 9px;
    gap: 10px;
  }

  .product_desc {
    margin-top: 20px;
  }

  .full_desc img {
    width: 70px;
    height: 90px;
  }

  .lower {
    margin-top: 5px;
  }

  .lower button {
    border-radius: 12px;

    padding: 2px 4px;
    font-size: 13px;
  }

  .lower h3 {
    font-size: 15px;
  }

  
}

/* @media (max-width: 500px) {
    .Checkout_container {
      padding: 20px;
      width: 780px;
      margin-top: 80px;
   width: 780px;
   
    }
  
    .my-toast-class{
      margin-top: 100px;
      width: 770px;
  }
  
  
  
  } */
