.realtedproducts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 50px;
   
    margin-bottom: 100px;

}

.realtedproducts h1{
    color: #171711;
    font-size: 50px;
    font-weight: 600;
}

.realtedproducts hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background-color: #252522;
}

.relatedproducts-item {
    margin-top: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   column-gap: 40px;
    gap: 30px;


}


@media(max-width:1280px){
    .realtedproducts{
        height: 70vh;
    }

    .realtedproducts h1{
        font-size: 40px;
    }

    .realtedproducts hr{
        width: 160px;
        height: 4px;

    }

    .relatedproducts-item{
        gap: 20px;
        margin-top: 30px;
    }
}


@media(max-width:1024px){
    .realtedproducts{
        height: 60vh;
        
    }

    .realtedproducts h1{
        font-size: 30px;
    }

    .realtedproducts hr{
        width: 120px;
        height: 3px;

    }

    .relatedproducts-item{
        gap: 15px;
        margin-top: 20px;
    }
}


@media(max-width:800px){
    .realtedproducts{
        height: 50vh;
        gap: 6px;
    }

    .realtedproducts h1{
        font-size:20px;
    }

    .realtedproducts hr{
        width: 100px;
     
    }

    .relatedproducts-item{
        gap: 5px;
       
    }
}


@media(max-width:500px){
    .realtedproducts{
        height: 120vh;
    }

    .relatedproducts-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

    }

}